.corpo-msg{background-color: #fafada; 
           min-height: 120px;
           padding: 10px 10px 10px 10px;
           -webkit-box-shadow: inset 0px 0px 17px 0px rgba(232,230,188,1);
           -moz-box-shadow: inset 0px 0px 17px 0px rgba(232,230,188,1);
           box-shadow: inset 0px 0px 17px 0px rgba(232,230,188,1);}

/* //////////////////////////////////
//              GLOBAIS            //
//////////////////////////////////*/ 

body, html, .container-fluid, .full-screen {height: 100%;}
.span-25{font-size: 25px;}
.span-20{font-size: 20px;}
.span-30{font-size: 30px;}
.span-35{font-size: 35px;}
.span-14{font-size: 14px;}
.span-12{font-size: 12px;}
.centro {position: relative; top: 50%; transform: translateY(-50%);}
.reset{padding: 0px; margin: 0px;}
.white{color: white}
.gray{color: gray}

/* //////////////////////////////////
//     MODAL UPLOAD DE IMAGENS     //
///////////////////////////////////*/ 
.name_anexo {font-weight: bold;}
.size_anexo {font-size: 90%;}
small {color: #999}
.remover{background:red; border:red; color: white;margin-top: 10px;}
.fa fa-trash {color: white;}

#toast-container {margin-top:5%; margin-right:25%; min-width: 35%}
.toast-success, .toast-error, .toast-info, .toast-warning {min-width: 100%} 

.modal-header{background-color: #4CAF50; color:white}
.col-8 .card .card-body, .col-4 .card .card-body {min-height: 30%}
.anexo{padding: 0px 0px 0px 0px; border: 1px solid #D8D8D8}
.card-header{background-color: #fff}


/* //////////////////////////////////
//              GRID               //
///////////////////////////////////*/
h2 {margin: 5px 5px 5px 5px }
.border{border: 1px solid; border-color: #dfe3ee}
.box-shadow{ -webkit-box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75)}
.bg-white{background-color: white}


 /* //////////////////////////////////
//    FORMULARIO DE CADASTRO        //
///////////////////////////////////*/ 
.border-bottom{ border-bottom: 1px solid #dfe3ee}
.border-bottom-top{ border-bottom: 1px solid #dfe3ee; border-top: 1px solid #dfe3ee}
.size-12{font-size: 12px;}
.size-14{font-size: 14px;}
.size-12{color : #5f6368}
.bg-white{background-color: white}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {background-color: #f4faf4;}
.td-data {text-transform:uppercase}
select{width: 100%; height: 5%}
/*input {height: 5%;}*/
label {font-size: 90%;}
legend{border-bottom: 1px solid #dfe3ee;}
#add_cargo{margin-left: 76%; margin-bottom: 5%;}
#voltar_cargo{margin-left: 76%; margin-bottom: 5%;}
            
  /*//////////////////////////////////
 //          MENU-LATERAL          //
//////////////////////////////////*/ 	
  
@media only screen and (max-width: 480px) {
    .btn-group-usuario{display: none}
    .menu-lateral{ 
        position: absolute;
        top: 100;
        left: 0;
        height: 100%;
        width: 60%;
        transform: translateX(-100%);
        transition: transform 200ms linear;
        z-index: 1;
    }
}

.menu-lateral-open{
    transform: translateX(0);
}

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);.jquery-accordion-menu,.jquery-accordion-menu *{font-family:'Open Sans',sans-serif;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;outline:0} */
.content{width: 260px; margin: 100px auto;}
.colors{width: 260px; float: left; margin: 20px auto;}
.colors a{width: 43.3px; height: 30px; float: left;}
.colors .default{background: #414956;}
.colors .blue{background: #4A89DC;}
.colors .green{background: #03A678;}
.colors .red{background: #ED5565;}
.colors .white{background: #fff;}
.colors .black{background: #292929;}
.jquery-accordion-menu{float:left;position:relative;}
.jquery-accordion-menu .jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header{width:100%;height:50px;padding-left:22px;float:left;line-height:50px;font-weight:600;color:#f0f0f0;background:#414956}
.jquery-accordion-menu ul{margin:0;padding:0;list-style:none}
.jquery-accordion-menu ul li{width:100%;display:block;float:left;position:relative}
.jquery-accordion-menu ul li a{width:100%;padding:14px 22px;float:left;text-decoration:none;color:#f0f0f0;font-size:13px;background:#414956;white-space:nowrap;position:relative;overflow:hidden;-o-transition:color .2s linear,background .2s linear;-moz-transition:color .2s linear,background .2s linear;-webkit-transition:color .2s linear,background .2s linear;transition:color .2s linear,background .2s linear}
.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a{color:#fff;background:#3b424d}
.jquery-accordion-menu>ul>li>a{border-bottom:solid 1px #3b424d}
.jquery-accordion-menu ul li a i{width:34px;float:left;line-height:18px;font-size:16px;text-align:left}
.jquery-accordion-menu .submenu-indicator{float:right;right:22px;position:absolute;line-height:19px;font-size:20px;-o-transition:transform .3s linear;-moz-transition:transform .3s linear;-webkit-transition:transform .3s linear;-ms-transition:transform .3s linear}
.jquery-accordion-menu ul ul.submenu .submenu-indicator{line-height:16px}
.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu{width:100%;display:none;position:static}
.jquery-accordion-menu ul ul.submenu li{clear:both;width:100%}
.jquery-accordion-menu ul ul.submenu li a{width:100%;float:left;font-size:11px;background:#383838;border-top:none;position:relative;border-left:solid 6px transparent;-o-transition:border .2s linear;-moz-transition:border .2s linear;-webkit-transition:border .2s linear;transition:border .2s linear}
.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#414956}
.jquery-accordion-menu ul ul.submenu>li>a{padding-left:30px}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a{padding-left:45px}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a{padding-left:60px}
.jquery-accordion-menu ul li .jquery-accordion-menu-label,.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{min-width:20px;padding:1px 2px 1px 1px;position:absolute;right:18px;top:14px;font-size:11px;font-weight:800;color:#555;text-align:center;line-height:18px;background:#f0f0f0;border-radius:100%}
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{top:12px}
.ink{display:block;position:absolute;background:rgba(255,255,255,.3);border-radius:100%;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
.animate-ink{-webkit-animation:ripple .5s linear;-moz-animation:ripple .5s linear;-ms-animation:ripple .5s linear;-o-animation:ripple .5s linear;animation:ripple .5s linear}@-webkit-keyframes ripple{100%{opacity:0;-webkit-transform:scale(2.5)}}@-moz-keyframes ripple{100%{opacity:0;-moz-transform:scale(2.5)}}@-o-keyframes ripple{100%{opacity:0;-o-transform:scale(2.5)}}@keyframes ripple{100%{opacity:0;transform:scale(2.5)}}
.blue.jquery-accordion-menu .jquery-accordion-menu-footer,.blue.jquery-accordion-menu .jquery-accordion-menu-header,.blue.jquery-accordion-menu ul li a{background:#4A89DC}
.blue.jquery-accordion-menu>ul>li.active>a,.blue.jquery-accordion-menu>ul>li:hover>a{background:#3e82da}
.blue.jquery-accordion-menu>ul>li>a{border-bottom-color:#3e82da}
.blue.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#3e82da}
.green.jquery-accordion-menu .jquery-accordion-menu-footer,.green.jquery-accordion-menu .jquery-accordion-menu-header,.green.jquery-accordion-menu ul li a{background:#03A678}
.green.jquery-accordion-menu>ul>li.active>a,.green.jquery-accordion-menu>ul>li:hover>a{background:#049372}
.green.jquery-accordion-menu>ul>li>a{border-bottom-color:#049372}
.green.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#049372}
.red.jquery-accordion-menu .jquery-accordion-menu-footer,.red.jquery-accordion-menu .jquery-accordion-menu-header,.red.jquery-accordion-menu ul li a{background:#ED5565}
.red.jquery-accordion-menu>ul>li.active>a,.red.jquery-accordion-menu>ul>li:hover>a{background:#DA4453}
.red.jquery-accordion-menu>ul>li>a{border-bottom-color:#DA4453}
.red.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#DA4453}
.white.jquery-accordion-menu .jquery-accordion-menu-footer,.white.jquery-accordion-menu .jquery-accordion-menu-header,.white.jquery-accordion-menu ul li a{background:#fff;color:#555}
.white.jquery-accordion-menu>ul>li.active>a,.white.jquery-accordion-menu>ul>li:hover>a{background:#f0f0f0}
.white.jquery-accordion-menu>ul>li>a{border-bottom-color:#f0f0f0}
.white.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#f0f0f0}
.white.jquery-accordion-menu ul ul.submenu li a{color:#f0f0f0}
.white.jquery-accordion-menu>ul>li>a>.ink{background:rgba(0,0,0,.1)}
.black.jquery-accordion-menu .jquery-accordion-menu-footer,.black.jquery-accordion-menu .jquery-accordion-menu-header,.black.jquery-accordion-menu ul li a{background:#292929}
.black.jquery-accordion-menu>ul>li.active>a,.black.jquery-accordion-menu>ul>li:hover>a{background:#222}
.black.jquery-accordion-menu>ul>li>a{border-bottom-color:#222}
.black.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#222}
